<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://maccapps.com/ns/1.0"
        id          = "com.maccapps.furriends"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Furriends Example</name>

    <description>
        An example for furriends build docs. 
    </description>

    <author href="https://www.furriends.com" email="support@phonegap.com">
        Andy McEniry
    </author>

</widget>